<!doctype html>
<html>
    <head>
        <script src="https://telegram.org/js/telegram-web-app.js"> </script>
        <script src="https://cdn.tailwindcss.com"></script>
         <script>
            function setThemeClass() {
                document.documentElement.className = Telegram.WebApp.colorScheme;
            }
            Telegram.WebApp.onEvent('themeChanged', setThemeClass);
            setThemeClass();
         </script>
         <meta charset="utf-8">
         <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-twilight.min.css" rel="stylesheet" />
         <style>
             body {
                 background-color: var(--tg-theme-bg-color, #ffffff);
                 color: var(--tg-theme-text-color, #222222);
                 margin: 0;
                 padding: 0;
                 color-scheme: var(--tg-color-scheme);
            }

             h1 {
                 font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
             }

             a {
                 color: var(--tg-theme-link-color, #2678b6);
             }
         </style>
    </head>
    <body class="bg-slate-100">
        <div class="block font-sans ">
             {% set number = tid | int %}
            <h1 class="block text-3xl font-bold text-slate-900 p-2">Задание {{ number + 1 | int }} {{ emojistatus }}</h1>

            <details class="block text-lg bg-white p-1 w-auto mx-2 rounded shadow-lg">
                <summary class="font-semibold">Условие</summary>
                    {{ source }}
            </details>

            <div class="m-2">
                <h3>Ваше решение:</h3>
                <div class="editor language-python bg-slate-900 text-white border border-black h-60">print("Hello, world!")</div>
            </div>

        </div>

        <script type="module" id="code">
            import {CodeJar} from "https://medv.io/codejar/codejar.js?"
            const jar = new CodeJar(
                document.querySelector(".editor"),
                Prism.highlightElement
            )

            Telegram.WebApp.ready();
            Telegram.WebApp.MainButton.setText('🚀 Отправить').show().onClick(function () { sendPayload(); });

            function sendPayload() {
                Telegram.WebApp.MainButton.setText('🏃‍♀️ Работаем...').show().onClick(function () {});
                var data = {
                    query_id: Telegram.WebApp.initDataUnsafe.query_id,
                    code: jar.toString(),
                    userid: Telegram.WebApp.initDataUnsafe.user.id,
                };
                var json = JSON.stringify(data);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/group/{{ gid }}/var/{{ vid }}/task/{{ tid }}");

                var issuccess = true;
                xhr.onerror= function(e) {
                    issuccess = false;
                    Telegram.WebApp.MainButton.setText('⛔️ ERROR').show();
                };
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(json);
                if (issuccess) {
                    Telegram.WebApp.MainButton.setText('✅ Готово').show();
                    webviewClose();
                }
            }

            function webviewClose() {
                    Telegram.WebApp.close();
                }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
    </body>
</html>